<h1>Add a New Bar</h1>
<form action="/bars" method="POST">
    <label>Name:
        <input type="text" name="name">
    </label>
    <label>Location:
        <input type="text" name="location">
    </label>
    <input type="submit" value="Add Bar">
</form>